@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
.link{

  color: black;
  text-decoration: none;
  margin: 5px;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.home{
  width: 100vw;
  flex-wrap: wrap;
}

.homecard{
  width: 30%;
margin: 5px 5px;
  height:15vh;
  color:white;
  font-size:2rem;

}
.gencard{
  background: #b24592; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b24592, #f15f79); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b24592, #f15f79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  opacity: 10;
  height: 40vh !important;;
  margin-top: 2rem;
}

.gencode{
  background: #b24592; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b24592, #f15f79); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b24592, #f15f79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  opacity: 10;
  max-height:100vh;
}

.imgContainer img{
  width: 60vw;
  height: 50vh;
}

.footer{
  position: relative;
  
  padding:1rem;
}